.app{
  height: 100vh;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 64px;
  position: relative;
  line-height: 64px;
  padding-left: 24px;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #002140;
  overflow: hidden;

}
.logo .img{
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width:32px;
}
.logo h1{
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  margin: 0 0 0 12px;
  font-family: Myriad Pro,Helvetica Neue,Arial,Helvetica,sans-serif;
  font-weight: 600;
}
.rightheader{
  float:right;
  height:100%;
  overflow: hidden;
  padding-right: 15px;
}
.mymenu{
  height:100%;
  display: block;
  padding: 0px 20px;
  cursor: pointer;
  img{
    width:24px;
    height:24px;
    margin-right: 10px;
    vertical-align: middle;
  }
  span{
    display: inline-block;
    line-height: 24px;
  }
  &:hover{
    background: #f6f6f6;
  }
}